body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-image: linear-gradient(135deg, #c2ffd8 10%, #465efb 100%);
}

.cardMain {
  margin-bottom: 50px !important;
}
.dropdown-content {
  width: "200px !important";
}
